.contact {
  width: 100%;
  display: inline-flex;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.contactIntro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 80px 0 80px 0;
  color: white;
}

.contactIntro p {
  width: 50%;
  text-align: center;
}

.contactForm {
  margin: 0 0 100px 0;
  width: 35%;

  display: flex;
  flex-direction: column;
  color: white;
}

.contact-name,
.contact-email,
.contact-mobile,
.contact-message {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  justify-content: center;
}

.contactForm button {
  width: 100%;
  height: 50px;
  background-color: #3f8e00;
  color: white;
  border-radius: 4px;
  box-shadow: 0 8px 30px 0 #3f8e004d;
  margin-top: 10px;
}

.contactForm input {
  height: 40px;
  text-align: start;
  padding: 10px;
  border: 1px solid #d8d8d8;
  border-radius: 4px;
}

.contactForm textarea {
  height: 80px;
  padding: 10px;
}

form label {
  margin-bottom: 5px;
}

footer {
  width: 100%;
  height: 70px;
  background-color: #1b1b1b;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 768px) {
  .contactForm {
    width: 50%;
  }

  .contactIntro p {
    width: 60%;
  }
}

@media only screen and (max-width: 425px) {
  .contactForm {
    width: 85%;
  }

  .contactIntro p {
    width: 80%;
  }
}
