header {
  display: inline-flex;

  flex-direction: column;
  width: 100%;
  margin-bottom: 50px;
  background-color: rgba(8, 8, 8, 1);
  position: relative;
}

.cover {
  margin-bottom: 0;
}

.cover__top {
  display: flex;
  margin: 0 auto;
  align-content: center;
  align-items: center;
  width: 87%;
  height: 70px;
  justify-content: center;
  justify-content: space-between;
  background-color: rgba(27, 27, 27, 1);
}

.menu-toggle {
  display: none;
}

.coverTopNav {
  display: flex;
  padding-left: 8.6%;
}

.socialLinks {
  display: flex;
  padding-right: 8.6%;
}

.nameAndPhoto {
  display: flex;
  margin: 0 auto;
  flex-direction: row;
  align-items: center;
  margin-bottom: 30%;
  justify-content: center;
  max-height: 280px;
  margin-top: 10%;
}

.headerText {
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  width: 42%;
  color: rgba(156, 156, 156);
}

.headerTextBox {
  display: flex;

  flex-direction: column;
  width: 80%;
  height: auto;
}

.workedWithImages {
  position: absolute;
  display: flex;
  bottom: 0;
  left: 0;
  right: 0;

  width: 70%;
  margin: 0 auto;
  flex-direction: row;

  justify-content: space-between;
}

/* --------------------------specifics---------------------------------*/

ul li {
  display: flex;
  list-style: none;
  font-size: clamp(8px, 1vw, 16px);
}

ul li a {
  text-decoration: none;
  color: rgba(156, 156, 156, 1);
  opacity: 40%;
}

.coverTopNav ul {
  display: flex;
  flex-direction: row;
  gap: 8%;
  text-wrap: nowrap;
}

.socialLinks img {
  height: 18px;
}

.socialLinks ul {
  display: flex;
  gap: 25px;
}

.socialLinks a {
  display: flex;
  align-self: center;
}
.profilePicture {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
}
.profilePicture img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.headerText button {
  width: 60%;
  padding: 10px;
  background-color: #3f8e00;
  font-size: clamp(6px, 1.5vw, 16px);
  text-align: center;
  font-weight: 700;
  font-style: bold;
  color: #ffffff;
  border: 1px;
  border-radius: 4px;
}

.headerText h1 {
  color: #ffffff;
  font-size: clamp(18px, 3vw, 42px);

  font-weight: 800;
  margin-bottom: 20px;
}

.headerText p {
  font-size: clamp(8px, 1.5vw, 16px);

  letter-spacing: 1%;
}

.workedWith {
  color: #ffffff;
  font-size: 14px;
  position: absolute;
  bottom: 20%;
  left: 14.5%;
  opacity: 40%;
}
.workedWithImages {
  height: 70px;
}
.workedWithImages img {
  display: flex;
  height: 75%;

  position: relative;
  color: #ffffff;
  border: 3px solid rgba(255, 255, 255, 0.2);
  padding: 10px;
  bottom: 5px;
  opacity: 30%;
  align-items: center;
}

.workedWithImages .uber {
  padding: 0px;
}

@media only screen and (max-width: 768px) {
  .nameAndPhoto {
    padding-top: 10%;
    margin-bottom: 40%;
  }

  .profilePicture img {
    width: 200px;
  }

  .headerText {
    align-items: center;
  }
  .nameAndPhoto {
    margin-top: 15%;
    flex-direction: column-reverse;
    text-align: center;
    gap: 30px;
  }
  .workedWithImages img {
    height: 50%;
  }
  .workedWithImages {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 7%;
    justify-content: center;
  }
  .workedWith {
    bottom: 12%;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media only screen and (max-width: 668px) {
  .nameAndPhoto {
    margin-bottom: 60%;
  }
  .headerText button {
    width: 100%;
    text-wrap: nowrap;
  }
  .coverTopNav {
    display: none;
    position: absolute;
    padding-left: 0px;
    width: 80%;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    background-color: whitesmoke;
    justify-content: center;
    opacity: 75%;
  }

  .coverTopNav ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .coverTopNav li {
    font-size: 20px;
    color: black;
    border: 1px solid black;
    width: 100vw;
    box-sizing: border-box;
    justify-content: center;
    padding: 0 55px 0 55px;
  }

  .coverTopNav a {
    color: black;
    opacity: 100%;
  }

  .workedWith {
    justify-self: center;
  }

  .workedWithImages img {
    height: 40%;
    padding: 2px;
    opacity: 70%;
  }

  .headerTextBox {
    width: 50vw;
  }

  .headerText h1 {
    font-size: 5vw;
    text-wrap: nowrap;
    align-self: center;
  }

  .headerText p {
    font-size: 2vw;
    line-height: 2.5vw;
    text-align: center;
  }

  .headerText button {
  }

  .profilePicture {
    padding-top: 20%;
  }
  .profilePicture img {
    width: 40vw;
  }

  .coverTopNav.active {
    display: flex;
  }

  .menu-toggle {
    display: block;
    color: white;
    font-size: 20px;
    opacity: 50%;
    padding-right: 6%;
  }

  .socialLinks {
    padding-left: 6%;
  }
}
