header {
  display: block;
  margin: 0 auto;

  width: 100%;
  height: 55vw;
  background-color: rgba(8, 8, 8, 1);
  position: relative;
}

.cover__top {
  display: flex;
  margin: 0 auto;
  align-content: center;
  align-items: center;
  width: 87%;
  height: 10%;
  justify-content: center;
  justify-content: space-between;
  background-color: rgba(27, 27, 27, 1);
}

.menu-toggle {
  display: none;
}

.coverTopNav {
  display: flex;
  padding-left: 8.6%;
}

.socialLinks {
  display: flex;
  padding-right: 8.6%;
}

.nameAndPhoto {
  display: flex;
  margin: 0 auto;
  flex-direction: row;
  align-items: center;

  justify-content: center;
  max-height: 280px;
  margin-top: 10vw;
}

.headerText {
  display: flex;
  flex-direction: column;

  justify-content: center;
  width: 42vw;

  color: rgba(156, 156, 156);
  gap: 30px;
}

.headerTextBox {
  display: flex;

  flex-direction: column;
  width: 38.4vw;
  height: auto;
}

.workedWithImages {
  position: absolute;
  display: flex;
  bottom: 0;
  left: 0;
  right: 0;

  width: 72vw;
  margin: 0 auto;
  flex-direction: row;

  justify-content: space-between;
}

/* --------------------------specifics---------------------------------*/

ul li {
  display: flex;
  list-style: none;
  font-size: 1.1vw;
}

ul li a {
  text-decoration: none;
  color: rgba(156, 156, 156, 1);
  opacity: 40%;
}

.coverTopNav ul {
  display: flex;
  flex-direction: row;
  gap: 8%;
  text-wrap: nowrap;
}

.socialLinks img {
  height: 18px;
}

.socialLinks ul {
  display: flex;
  gap: 25px;
}

.socialLinks a {
  display: flex;
  align-self: center;
}

.profilePicture img {
  width: 27vw;
  height: auto;
  border-radius: 50%;
}

.headerText button {
  width: 24vw;
  height: 55px;
  background-color: #3f8e00;
  font-size: 1.25vw;
  font-weight: 700;
  font-style: bold;
  color: #ffffff;
  border: 1px;
  border-radius: 4px;
}

.headerText h1 {
  color: #ffffff;
  font-size: 3.43vw;
  font-weight: 800;
  margin-bottom: 10px;
}

.headerText p {
  line-height: 1.8vw;
  font-size: 1.1vw;
  letter-spacing: 1%;
}

.workedWith {
  color: #ffffff;
  font-size: 1.6vw;
  position: absolute;
  bottom: 20%;
  left: 14.5%;
  opacity: 40%;
}

.workedWithImages img {
  height: 7vw;
  width: 7vw;
  position: relative;
  color: #ffffff;
  border: 3px solid rgba(255, 255, 255, 0.2);
  padding: 10px;
  bottom: 20px;
  opacity: 30%;
}

.workedWithImages .uber {
  padding: 0px;
}

@media only screen and (max-width: 768px) {
  header {
    height: 100vw;
  }

  .headerText {
    align-items: center;
  }
  .nameAndPhoto {
    margin-top: 15vw;
    flex-direction: column-reverse;
    text-align: center;
    gap: 30px;
  }

  .workedWithImages {
    display: flex;
    flex-wrap: wrap;
    gap: 7%;
    justify-content: center;
  }
  .workedWith {
    left: 50%;
    transform: translateX(-50%);
  }
}

@media only screen and (max-width: 425px) {
  header {
    height: 140vw;
  }
  .headerText button {
    height: 25px;
  }

  .coverTopNav {
    display: none;
    position: absolute;
    padding-left: 0px;
    width: 80%;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    background-color: whitesmoke;
    justify-content: center;
    opacity: 75%;
  }

  .coverTopNav ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .coverTopNav li {
    font-size: 20px;
    color: black;
    border: 1px solid black;
    width: 100vw;
    box-sizing: border-box;
    justify-content: center;
    padding: 0 55px 0 55px;
  }

  .coverTopNav a {
    color: black;
    opacity: 100%;
  }

  .workedWith {
    display: none;
    bottom: 15%;
  }

  .workedWithImages img {
    padding: 2px;
    opacity: 70%;
  }

  .headerTextBox {
    width: 50vw;
  }

  .headerText h1 {
    font-size: 5vw;
    text-wrap: nowrap;
    align-self: center;
  }

  .headerText p {
    font-size: 2vw;
    line-height: 2.5vw;
    text-align: center;
  }

  .headerText button {
    font-size: 2vw;
  }

  .profilePicture img {
    width: 40vw;
  }

  .coverTopNav.active {
    display: flex;
  }

  .menu-toggle {
    display: block;
    color: white;
    font-size: 20px;
    opacity: 50%;
    padding-right: 6%;
  }

  .socialLinks {
    padding-left: 6%;
  }
}
