header {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 700px;
  background-color: rgba(8, 8, 8, 1);
  position: relative;
}

.cover__top {
  display: flex;
  margin: 0 auto;
  align-content: center;
  align-items: center;
  width: 87%;
  height: 10%;
  justify-content: center;
  justify-content: space-between;
  background-color: rgba(27, 27, 27, 1);
}

.cover__top--navigation {
  display: flex;
  padding-left: 8.6%;
}

.socialLinks {
  display: flex;
  padding-right: 8.6%;
}

.nameAndPhoto {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  margin: 95px auto;
}

.headerText {
  display: flex;
  flex-direction: column;

  justify-content: center;
  width: 42vw;
  height: 35vh;
  color: rgba(156, 156, 156);
  gap: 30px;
}

.headerTextBox {
  display: flex;

  flex-direction: column;
  width: 38.4vw;
  height: auto;
}

.workedWithImages {
  position: absolute;
  display: flex;
  bottom: 0;
  left: 0;
  right: 0;

  width: 72vw;
  margin: 0 auto;
  flex-direction: row;

  justify-content: space-between;
}

/* --------------------------specifics---------------------------------*/

ul li {
  display: flex;
  list-style: none;
  font-size: 1.1vw;
}

ul li a {
  text-decoration: none;
  color: rgba(156, 156, 156, 1);
  opacity: 40%;
}

.cover__top--navigation ul {
  display: flex;
  flex-direction: row;
  gap: 8%;
  text-wrap: nowrap;
}

.socialLinks img {
  height: 18px;
}

.socialLinks ul {
  display: flex;
  gap: 25px;
}

.socialLinks a {
  display: flex;
  align-self: center;
}

.profilePicture img {
  width: 27vw;
  height: auto;
  border-radius: 50%;
}

.headerText button {
  width: 24vw;
  height: 55px;
  background-color: #3f8e00;
  font-size: 1.25vw;
  font-weight: 700;
  font-style: bold;
  color: #ffffff;
  border: 1px;
  border-radius: 4px;
}

.headerText h1 {
  color: #ffffff;
  font-size: 3.43vw;
  font-weight: 800;
  margin-bottom: 10px;
}

.headerText p {
  line-height: 1.8vw;
  font-size: 1.1vw;
  letter-spacing: 1%;
}

.workedWith {
  color: #ffffff;

  position: absolute;
  bottom: 20%;
  left: 14.5%;
  opacity: 40%;
}

.workedWithImages img {
  height: 7vw;
  width: 7vw;
  position: relative;
  color: #ffffff;
  border: 3px solid rgba(255, 255, 255, 0.2);
  padding: 10px;
  bottom: 20px;
  opacity: 30%;
}

.workedWithImages .uber {
  padding: 0px;
}
