header {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 700px;
  background-color: rgba(8, 8, 8, 1);
}

.cover__top {
  display: flex;
  margin: 0 auto;
  align-content: center;
  align-items: center;
  width: 87%;
  height: 10%;
  justify-content: center;
  justify-content: space-between;
  background-color: rgba(27, 27, 27, 1);
}

.cover__top--navigation {
  display: flex;
  padding-left: 8.6%;
}

.socialLinks {
  display: flex;
  padding-right: 8.6%;
}

.nameAndPhoto {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  margin: 95px auto;
}

.headerText {
  display: flex;
  flex-direction: column;
  width: 538px;
  height: 247px;
  color: rgba(156, 156, 156);
  gap: 30px;
}

.headerTextBox {
  flex-direction: column;
  width: 492px;
  height: 154px;
}

.workedWithImages {
  display: flex;
  width: 920px;
  margin: 0 auto;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

/*@media only screen and (max-width: 1000px) {
  .nameAndPhoto {
    flex-direction: column;
  }
}*/
