.projects {
  display: inline-flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 70%;
  gap: 80px;
  padding: 80px 0 80px 0;
}

.project1 {
  display: flex;
  flex-direction: row;
}

.project1 button {
  background-color: #ffa217;
}

.projects p {
  width: 85%;
}

.project2 {
  display: flex;
  flex-direction: row-reverse;
}

.project2 button {
  background-color: #000aff;
}

.project2 .projectinfo {
  padding-left: 30px;
}

.project3 {
  display: flex;
  flex-direction: row;
}

.project3 button {
  background-color: #2ab090;
}

.nameIntroText {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  gap: 10px;
  text-align: center;
  width: 63.5%;
  margin-bottom: 60px;
}

.projectinfo {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 30px;
}
#projectcontainer {
  align-items: center;
}

.projectinfo h3 {
  color: #ffa217;
  width: 100px;
  text-align: center;
  background-color: #fff6e9;
  font-size: 12px;
  border-radius: 100px;
  display: inline;
  padding: 3px 10px;
}

.projectinfo button {
  height: 35px;
  width: 180px;
  color: #ffffff;
  font-weight: 700;
  border: none;
  border-radius: 4px;
  box-shadow: 0 8px 30px 0 rgba(42, 176, 144, 0.1);
}

.imgContainer {
  display: flex;
  width: 50%;
  height: 23.44vw;
  align-items: center;

  justify-content: center;
  overflow: hidden;
}
.imgContainer img {
  width: 100%;

  object-fit: cover;
}

@media only screen and (max-width: 425px) {
  .projects {
    width: 100%;
    padding: 50px 0 30px 0;
  }
  .projectinfo h3 {
    display: none;
  }

  .projectinfo {
    width: 80%;
    align-items: center;
    justify-content: center;
  }

  #projectcontainer {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    align-items: center;
    align-self: center;
    justify-content: center;
    gap: 20px;
  }

  .project2 .projectinfo {
    padding-left: 0;
  }

  .imgContainer {
    width: 80%;
    height: 60vw;
  }

  .nameIntroText {
    width: 80%;
    margin-bottom: 10px;
  }
}
