.recentWork-container {
  display: inline-flex;
  background-color: white;
  justify-content: center;
  align-items: center;
}

.recentWork {
  display: inline-flex;

  width: 86.7%;
  flex-direction: column;
}

.recentWorkIntro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 13px;
  margin: 80px 0 60px 0;
}

.recentWorkIntro p {
  width: 50%;
}

.recentWorks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-direction: row;
}

.works {
  display: flex;
  flex-direction: column;
  width: 40%;
  gap: 20px;
  margin-bottom: 50px;
}

.works button {
  align-self: flex-start;
  padding: 10px 20px;
  background-color: #3f8e00;
  border: solid #62ba1b;
  border-radius: 4px;
  color: whitesmoke;
  box-shadow: 0 8px 30px 0 rgba(63, 142, 0, 0.302);
}
.works p {
  width: 85%;
}

.workImgContainer {
  display: flex;

  width: 100%;
  height: 220px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.works img {
  width: 100%;
}

@media only screen and (max-width: 920px) {
  .recentWorks {
    flex-direction: column;
  }
  .works {
    width: 75%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .works button {
    align-self: center;
  }
  .workImgContainer {
  }
}

@media only screen and (max-width: 768px) {
  .works {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .works button {
    align-self: center;
  }

  .workImgContainer {
  }
}

@media only screen and (max-width: 425px) {
  .works img {
    width: 90vw;
  }

  .workImgContainer {
    max-height: 175px;
  }

  .recentWorkIntro p {
    width: 75%;
  }

  .works p {
    width: 100%;
  }
}
