.testimonials {
  display: inline-flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;

  background-color: black;
  color: #9c9c9c;
}

.testTitleIntro {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
}

.testTitleIntro p {
  width: 44.5vw;
}

.testimonycontainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);

  gap: 40px;
  margin: 40px auto;
  padding: 20px;
}

.testimonytext {
  position: relative;
  border: 1px solid transparent;
  border-image: linear-gradient(to bottom left, #1b1b1b00, #484848) 1;
  padding: 30px;
  padding-bottom: 100px;
}

.quotation {
  position: absolute;
  top: -6.5%;
  font-size: 100px;
}

.portraits {
  width: 50px;
  border-radius: 50%;
}

.clients {
  position: absolute;
  bottom: 10%;
  display: flex;
  align-items: center;
  gap: 20px;
}
